.footer {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
    color: var(--secondary);
}

.text {
    font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}